<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
 
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 7em;
        }
    </style>
</head>
 
<body>
    <center>This is our home page.</center>
    <p><a href =/register>Register</a></p>
    <p><a href =/login>Login</a></p>
    <p><a href =/>Home</a></p>
</body>
</html>