<%- include('layout/header') -%>
<br><br>
<h3>This is our Output page.</h3>

    <ul>
        <li> User Name: <%= data.name %></li>
        <li> Password :<%= data.password %></li>
      
    </ul>
<br><br>
<%- include('layout/footer') -%>