* {
    box-sizing: border-box;
  }
  body {
    background-color: white;
    margin:0;
  }
  
  .field li{
    font-size:small;
  }
  .users li {
   
    color:darkgreen;
  }
   h6, p {
    font-size:small;
  }

    /* styles for the footer  */
    #footer {
      background-color: black;
      color: #ffffff;
      padding: 70px 20px;
      margin-top: 5px;
      text-align: left;
      bottom: 0;
    }
    #footer p {
      
      text-align: left;
    }
  

  

  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul
 {
    text-align: left;
     
  }
  
  #myform input {
    /* background: transparent; */
    border-width: 0.1ch;
    /* border-color: white; */
    border-color: grey;
    /* color: white !important; */
    color: black !important;
    font-weight: bolder;
    
  }
  
  /* #myform textarea { */
    /* background: transparent; */
    /* border-width: 0.1ch; */
    /* border-color: grey; */
    /* height: 240px; */
    /* color: white !important; */
    /* color: black !important; */
    /* font-weight: bolder; */
    /* width: 80%; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* border-radius: 4px; */
  /* } */
  
  /* #myform input[type=text]::-webkit-input-placeholder */
  /* {  */
    /* color:white; */
    /* color:black; */
    
  /* } */
  /* #myform textarea::-webkit-input-placeholder */
  /* {  */
    /* color:white; */
    /* color:black; */

  /* } */
  
  /* #myform input[type=email]::-webkit-input-placeholder
  { 
     /* color:white; */
     /* color:black; */
    
  /* } */ 
  
  /* #myform input[type=text] {
    width: 41%;
    height:30px;
    margin-left: 10%;
    float: left;
    border-radius: 3px;
  } */
  
  /* #myform input[type=email] {
    width: 37%;
    height:30px;
    float: right;
    margin-right: 10%;
    border-radius: 3px;
  } */
  
  /* #myform input[type=submit]{
    float: left;
    margin-left: 10%;
    height:35px;
    border-radius: 3px;
    border-color: grey;
  } */
  
  /* #myform  form {
    margin-bottom: 20px;
    padding:30px;
  } */

  /* style for the form  */
#form {
  width: 100%;
  padding: 5px;
  border: solid;
  border-color: darkolivegreen;
  border-radius: 10px;
  border-width: 1pt;
  height: 100%;
}

/* font size of form text  */
.form-text {
  font-size: x-small;
  color: f2f2f2;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* font size of form label  */
.form-label {
  font-size: medium;
  margin: 0;
  padding: 0;
}

/* margin of form input fields  */
.mb-3 {
  margin: 0;
  padding: 0;
}

/* style for landing page instructions */
.text-list li {
  font-style: italic;
  color: darkgreen;
  font-size: small;
  text-align: left;
}
/* style for input fields */
.text-muted {
  font-size: small;
  text-align: left;
}
  
 h6 .bg-bg-light {
  text-align: left; 
}

  @media screen and (max-width: 1200px) {
    textarea{
      height:190px;
    }
  }
  
  @media screen and (max-width: 800px) {
    textarea{
      height:150px;
    } 
    h5 {
      font-size: small;
    }
  }
  
  @media screen and (max-width: 576px) {
    textarea{
      height:120px;
    }
    h5 {
      font-size: x-small;
    }
  }
  @media screen and (max-width: 400px) {
    textarea{
      height:80px;
    }
    h5 {
      font-size: xx-small;
    }
  }

  /* begin here  */

  /* span style */
#beforepara {
  float: left;
  font-size: 250%;
  padding: 0px 3px 0px 3px;
  display: inline;
}

/* Image style */
img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

/* Left column */
.leftcolumn {
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 40%;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout  */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
/* Field to hold content */
.field {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

h3 {
  color: green;
}